In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("sales_data_sample.csv", encoding="latin1")

In [3]:
print(df)

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0           10107               30      95.70                2  2871.00
1           10121               34      81.35                5  2765.90
2           10134               41      94.74                2  3884.34
3           10145               45      83.26                6  3746.70
4           10159               49     100.00               14  5205.27
...           ...              ...        ...              ...      ...
2818        10350               20     100.00               15  2244.40
2819        10373               29     100.00                1  3978.51
2820        10386               43     100.00                4  5417.57
2821        10397               34      62.24                1  2116.16
2822        10414               47      65.52                9  3079.44

            ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0      2/24/2003 0:00   Shipped       1         2     2003  ...
1       5/7/2003 0:00   Shipped       2         5     2003  ...
2       7/1/2003 0:00   Shipped       3         7     2003  ...
3      8/25/2003 0:00   Shipped       3         8     2003  ...
4     10/10/2003 0:00   Shipped       4        10     2003  ...
...               ...       ...     ...       ...      ...  ...
2818   12/2/2004 0:00   Shipped       4        12     2004  ...
2819   1/31/2005 0:00   Shipped       1         1     2005  ...
2820    3/1/2005 0:00  Resolved       1         3     2005  ...
2821   3/28/2005 0:00   Shipped       1         3     2005  ...
2822    5/6/2005 0:00   On Hold       2         5     2005  ...

                       ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0           897 Long Airport Avenue           NaN            NYC    NY
1                59 rue de l'Abbaye           NaN          Reims   NaN
2     27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3                78934 Hillside Dr.           NaN       Pasadena    CA
4                   7734 Strong St.           NaN  San Francisco    CA
...                             ...           ...            ...   ...
2818             C/ Moralzarzal, 86           NaN         Madrid   NaN
2819                    Torikatu 38           NaN           Oulu   NaN
2820             C/ Moralzarzal, 86           NaN         Madrid   NaN
2821          1 rue Alsace-Lorraine           NaN       Toulouse   NaN
2822             8616 Spinnaker Dr.           NaN         Boston    MA

     POSTALCODE  COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0         10022      USA       NaN              Yu             Kwai    Small
1         51100   France      EMEA         Henriot             Paul    Small
2         75508   France      EMEA        Da Cunha           Daniel   Medium
3         90003      USA       NaN           Young            Julie   Medium
4           NaN      USA       NaN           Brown            Julie   Medium
...         ...      ...       ...             ...              ...      ...
2818      28034    Spain      EMEA          Freyre            Diego    Small
2819      90110  Finland      EMEA       Koskitalo           Pirkko   Medium
2820      28034    Spain      EMEA          Freyre            Diego   Medium
2821      31000   France      EMEA          Roulet          Annette    Small
2822      51003      USA       NaN         Yoshido             Juri   Medium

[2823 rows x 25 columns]

In [4]:
specific_column =  df['ORDERNUMBER']

In [5]:
print(specific_column)

0       10107
1       10121
2       10134
3       10145
4       10159
        ...
2818    10350
2819    10373
2820    10386
2821    10397
2822    10414
Name: ORDERNUMBER, Length: 2823, dtype: int64

In [7]:
multiple_specific_column = df[['ORDERNUMBER' , 'QUANTITYORDERED', 'SALES']]

In [8]:
print(multiple_specific_column)

      ORDERNUMBER  QUANTITYORDERED    SALES
0           10107               30  2871.00
1           10121               34  2765.90
2           10134               41  3884.34
3           10145               45  3746.70
4           10159               49  5205.27
...           ...              ...      ...
2818        10350               20  2244.40
2819        10373               29  3978.51
2820        10386               43  5417.57
2821        10397               34  2116.16
2822        10414               47  3079.44

[2823 rows x 3 columns]

In [9]:
#Filtering rows

In [12]:
single_row = df [df['QUANTITYORDERED']> 45]

In [13]:
print(single_row)

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
4           10159               49     100.00               14  5205.27
7           10188               48     100.00                1  5512.32
18          10318               46      94.74                1  4358.04
25          10417               66     100.00                2  7516.08
35          10206               47     100.00                6  9064.89
...           ...              ...        ...              ...      ...
2790        10352               49      52.64                4  2579.36
2793        10386               50      87.15               16  4357.50
2798        10117               50      43.68                2  2184.00
2801        10153               50      60.06                4  3003.00
2822        10414               47      65.52                9  3079.44

            ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
4     10/10/2003 0:00   Shipped       4        10     2003  ...
7     11/18/2003 0:00   Shipped       4        11     2003  ...
18     11/2/2004 0:00   Shipped       4        11     2004  ...
25     5/13/2005 0:00  Disputed       2         5     2005  ...
35     12/5/2003 0:00   Shipped       4        12     2003  ...
...               ...       ...     ...       ...      ...  ...
2790   12/3/2004 0:00   Shipped       4        12     2004  ...
2793    3/1/2005 0:00  Resolved       1         3     2005  ...
2798   4/16/2003 0:00   Shipped       2         4     2003  ...
2801   9/28/2003 0:00   Shipped       3         9     2003  ...
2822    5/6/2005 0:00   On Hold       2         5     2005  ...

                              ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
4                          7734 Strong St.           NaN  San Francisco    CA
7              Drammen 121, PR 744 Sentrum           NaN         Bergen   NaN
18                        7586 Pompton St.           NaN      Allentown    PA
25                      C/ Moralzarzal, 86           NaN         Madrid   NaN
35                            1900 Oak St.           NaN      Vancouver    BC
...                                    ...           ...            ...   ...
2790                     16780 Pompton St.           NaN     Brickhaven    MA
2793                    C/ Moralzarzal, 86           NaN         Madrid   NaN
2798  Bronz Sok., Bronz Apt. 3/6 Tesvikiye           NaN      Singapore   NaN
2801                    C/ Moralzarzal, 86           NaN         Madrid   NaN
2822                    8616 Spinnaker Dr.           NaN         Boston    MA

     POSTALCODE    COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
4           NaN        USA       NaN           Brown            Julie   Medium
7        N 5804     Norway      EMEA          Oeztan           Veysel   Medium
18        70267        USA       NaN              Yu            Kyung   Medium
25        28034      Spain      EMEA          Freyre            Diego    Large
35      V3F 2K1     Canada       NaN       Tannamuri            Yoshi    Large
...         ...        ...       ...             ...              ...      ...
2790      58339        USA       NaN          Taylor           Leslie    Small
2793      28034      Spain      EMEA          Freyre            Diego   Medium
2798      79903  Singapore     Japan       Natividad             Eric    Small
2801      28034      Spain      EMEA          Freyre            Diego   Medium
2822      51003        USA       NaN         Yoshido             Juri   Medium

[475 rows x 25 columns]

In [14]:
multiple_row_condition =  df[(df['QUANTITYORDERED']> 60) & (df['SALES']>9000.00)]

In [15]:
print(multiple_row_condition)

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER     SALES  \
104         10403               66     100.00                9  11886.60
131         10400               64     100.00                9   9661.44
418         10405               97      93.28                5   9048.16
598         10407               76     100.00                2  14082.80
1188        10406               65     100.00                1  10468.90
1995        10405               76     100.00                3  11739.70
1996        10419               70     100.00                8   9240.00

           ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
104    4/8/2005 0:00   Shipped       2         4     2005  ...
131    4/1/2005 0:00   Shipped       2         4     2005  ...
418   4/14/2005 0:00   Shipped       2         4     2005  ...
598   4/22/2005 0:00   On Hold       2         4     2005  ...
1188  4/15/2005 0:00  Disputed       2         4     2005  ...
1995  4/14/2005 0:00   Shipped       2         4     2005  ...
1996  5/17/2005 0:00   Shipped       2         5     2005  ...

                      ADDRESSLINE1  ADDRESSLINE2        CITY STATE POSTALCODE  \
104   Berkeley Gardens 12  Brewery           NaN   Liverpool   NaN    WX1 6LT
131                 3086 Ingle Ln.           NaN    San Jose    CA      94217
418               24, place Kluber           NaN  Strasbourg   NaN      67000
598                 3086 Ingle Ln.           NaN    San Jose    CA      94217
1188                  Vinb'ltet 34           NaN   Kobenhavn   NaN       1734
1995              24, place Kluber           NaN  Strasbourg   NaN      67000
1996                   Geislweg 14           NaN    Salzburg   NaN       5020

      COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
104        UK      EMEA           Devon        Elizabeth    Large
131       USA       NaN           Frick              Sue    Large
418    France      EMEA         Citeaux       Frederique    Large
598       USA       NaN           Frick              Sue    Large
1188  Denmark      EMEA        Petersen            Jytte    Large
1995   France      EMEA         Citeaux       Frederique    Large
1996  Austria      EMEA           Pipps            Georg    Large

[7 rows x 25 columns]

In [22]:
another_multiple_row_condition = df[(df['PRICEEACH']>99.00) & (df['SALES']>9000.00)]

In [23]:
print(another_multiple_row_condition)

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER     SALES  \
30          10150               45      100.0                8  10993.50
35          10206               47      100.0                6   9064.89
43          10304               47      100.0                6  10172.70
44          10312               48      100.0                3  11623.70
53          10424               50      100.0                6  12001.00
81          10120               46      100.0                2   9264.86
90          10223               49      100.0                3   9774.03
104         10403               66      100.0                9  11886.60
105         10417               56      100.0                4   9218.16
131         10400               64      100.0                9   9661.44
164         10147               48      100.0                7   9245.76
174         10266               44      100.0               14   9160.36
175         10276               50      100.0                3   9631.00
188         10127               46      100.0                2  11279.20
198         10247               44      100.0                2  10606.20
319         10142               46      100.0               11   9470.94
497         10369               44      100.0                8   9240.44
598         10407               76      100.0                2  14082.80
667         10271               50      100.0                4   9169.00
744         10322               50      100.0                6  12536.50
840         10214               50      100.0                1   9534.50
1062        10412               60      100.0                9  11887.80
1133        10333               46      100.0                2  11336.70
1188        10406               65      100.0                1  10468.90
1558        10356               48      100.0                5   9720.00
1839        10339               55      100.0               13  10758.00
1995        10405               76      100.0                3  11739.70
1996        10419               70      100.0                8   9240.00
2117        10375               43      100.0                2  10039.60
2505        10388               46      100.0                2  10066.60
2634        10336               46      100.0                2   9558.80

            ORDERDATE      STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
30     9/19/2003 0:00     Shipped       3         9     2003  ...
35     12/5/2003 0:00     Shipped       4        12     2003  ...
43    10/11/2004 0:00     Shipped       4        10     2004  ...
44    10/21/2004 0:00     Shipped       4        10     2004  ...
53     5/31/2005 0:00  In Process       2         5     2005  ...
81     4/29/2003 0:00     Shipped       2         4     2003  ...
90     2/20/2004 0:00     Shipped       1         2     2004  ...
104     4/8/2005 0:00     Shipped       2         4     2005  ...
105    5/13/2005 0:00    Disputed       2         5     2005  ...
131     4/1/2005 0:00     Shipped       2         4     2005  ...
164     9/5/2003 0:00     Shipped       3         9     2003  ...
174     7/6/2004 0:00     Shipped       3         7     2004  ...
175     8/2/2004 0:00     Shipped       3         8     2004  ...
188     6/3/2003 0:00     Shipped       2         6     2003  ...
198     5/5/2004 0:00     Shipped       2         5     2004  ...
319     8/8/2003 0:00     Shipped       3         8     2003  ...
497    1/20/2005 0:00     Shipped       1         1     2005  ...
598    4/22/2005 0:00     On Hold       2         4     2005  ...
667    7/20/2004 0:00     Shipped       3         7     2004  ...
744    11/4/2004 0:00     Shipped       4        11     2004  ...
840    1/26/2004 0:00     Shipped       1         1     2004  ...
1062    5/3/2005 0:00     Shipped       2         5     2005  ...
1133  11/18/2004 0:00     Shipped       4        11     2004  ...
1188   4/15/2005 0:00    Disputed       2         4     2005  ...
1558   12/9/2004 0:00     Shipped       4        12     2004  ...
1839  11/23/2004 0:00     Shipped       4        11     2004  ...
1995   4/14/2005 0:00     Shipped       2         4     2005  ...
1996   5/17/2005 0:00     Shipped       2         5     2005  ...
2117    2/3/2005 0:00     Shipped       1         2     2005  ...
2505    3/3/2005 0:00     Shipped       1         3     2005  ...
2634  11/20/2004 0:00     Shipped       4        11     2004  ...

                              ADDRESSLINE1  ADDRESSLINE2           CITY  \
30    Bronz Sok., Bronz Apt. 3/6 Tesvikiye           NaN      Singapore
35                            1900 Oak St.           NaN      Vancouver
43                  67, avenue de l'Europe           NaN     Versailles
44                         5677 Strong St.           NaN     San Rafael
53                      C/ Moralzarzal, 86           NaN         Madrid
81                       636 St Kilda Road       Level 3      Melbourne
90                       636 St Kilda Road       Level 3      Melbourne
104           Berkeley Gardens 12  Brewery           NaN      Liverpool
105                     C/ Moralzarzal, 86           NaN         Madrid
131                         3086 Ingle Ln.           NaN       San Jose
164                       7825 Douglas Av.           NaN     Brickhaven
174                 Strada Provinciale 124           NaN  Reggio Emilia
175                     7635 Spinnaker Dr.           NaN     Brickhaven
188                      4092 Furth Circle     Suite 400            NYC
198    Software Engineering Center, SEC Oy           NaN          Espoo
319                        5677 Strong St.           NaN     San Rafael
497                       7825 Douglas Av.           NaN     Brickhaven
598                         3086 Ingle Ln.           NaN       San Jose
667                        5677 Strong St.           NaN     San Rafael
744               2304 Long Airport Avenue           NaN         Nashua
840                         C/ Araquil, 67           NaN         Madrid
1062                    C/ Moralzarzal, 86           NaN         Madrid
1133             5557 North Pendale Street           NaN  San Francisco
1188                          Vinb'ltet 34           NaN      Kobenhavn
1558         27 rue du Colonel Pierre Avia           NaN          Paris
1839                        2-2-8 Roppongi           NaN      Minato-ku
1995                      24, place Kluber           NaN     Strasbourg
1996                           Geislweg 14           NaN       Salzburg
2117          67, rue des Cinquante Otages           NaN         Nantes
2505                     1785 First Street           NaN    New Bedford
2634               265, boulevard Charonne           NaN          Paris

         STATE POSTALCODE    COUNTRY TERRITORY CONTACTLASTNAME  \
30         NaN      79903  Singapore     Japan       Natividad
35          BC    V3F 2K1     Canada       NaN       Tannamuri
43         NaN      78000     France      EMEA          Tonini
44          CA      97562        USA       NaN          Nelson
53         NaN      28034      Spain      EMEA          Freyre
81    Victoria       3004  Australia      APAC        Ferguson
90    Victoria       3004  Australia      APAC        Ferguson
104        NaN    WX1 6LT         UK      EMEA           Devon
105        NaN      28034      Spain      EMEA          Freyre
131         CA      94217        USA       NaN           Frick
164         MA      58339        USA       NaN          Nelson
174        NaN      42100      Italy      EMEA          Moroni
175         MA      58339        USA       NaN         Barajas
188         NY      10022        USA       NaN           Young
198        NaN  FIN-02271    Finland      EMEA        Suominen
319         CA      97562        USA       NaN          Nelson
497         MA      58339        USA       NaN          Nelson
598         CA      94217        USA       NaN           Frick
667         CA      97562        USA       NaN          Nelson
744         NH      62005        USA       NaN           Young
840        NaN      28023      Spain      EMEA          Sommer
1062       NaN      28034      Spain      EMEA          Freyre
1133        CA        NaN        USA       NaN          Murphy
1188       NaN       1734    Denmark      EMEA        Petersen
1558       NaN      75508     France      EMEA        Da Cunha
1839     Tokyo   106-0032      Japan     Japan       Shimamura
1995       NaN      67000     France      EMEA         Citeaux
1996       NaN       5020    Austria      EMEA           Pipps
2117       NaN      44000     France      EMEA         Labrune
2505        MA      50553        USA       NaN         Benitez
2634       NaN      75012     France      EMEA        Bertrand

     CONTACTFIRSTNAME DEALSIZE
30               Eric    Large
35              Yoshi    Large
43             Daniel    Large
44            Valarie    Large
53              Diego    Large
81              Peter    Large
90              Peter    Large
104         Elizabeth    Large
105             Diego    Large
131               Sue    Large
164             Allen    Large
174          Maurizio    Large
175            Miguel    Large
188              Jeff    Large
198             Kalle    Large
319           Valarie    Large
497             Allen    Large
598               Sue    Large
667           Valarie    Large
744           Valarie    Large
840            MartÂ¡n    Large
1062            Diego    Large
1133            Julie    Large
1188            Jytte    Large
1558           Daniel    Large
1839            Akiko    Large
1995       Frederique    Large
1996            Georg    Large
2117           Janine    Large
2505          Violeta    Large
2634            Marie    Large

[31 rows x 25 columns]