In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("sales_data_sample.csv", encoding="latin1")

In [3]:
print(df)

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0           10107               30      95.70                2  2871.00
1           10121               34      81.35                5  2765.90
2           10134               41      94.74                2  3884.34
3           10145               45      83.26                6  3746.70
4           10159               49     100.00               14  5205.27
...           ...              ...        ...              ...      ...
2818        10350               20     100.00               15  2244.40
2819        10373               29     100.00                1  3978.51
2820        10386               43     100.00                4  5417.57
2821        10397               34      62.24                1  2116.16
2822        10414               47      65.52                9  3079.44

            ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0      2/24/2003 0:00   Shipped       1         2     2003  ...
1       5/7/2003 0:00   Shipped       2         5     2003  ...
2       7/1/2003 0:00   Shipped       3         7     2003  ...
3      8/25/2003 0:00   Shipped       3         8     2003  ...
4     10/10/2003 0:00   Shipped       4        10     2003  ...
...               ...       ...     ...       ...      ...  ...
2818   12/2/2004 0:00   Shipped       4        12     2004  ...
2819   1/31/2005 0:00   Shipped       1         1     2005  ...
2820    3/1/2005 0:00  Resolved       1         3     2005  ...
2821   3/28/2005 0:00   Shipped       1         3     2005  ...
2822    5/6/2005 0:00   On Hold       2         5     2005  ...

                       ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0           897 Long Airport Avenue           NaN            NYC    NY
1                59 rue de l'Abbaye           NaN          Reims   NaN
2     27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3                78934 Hillside Dr.           NaN       Pasadena    CA
4                   7734 Strong St.           NaN  San Francisco    CA
...                             ...           ...            ...   ...
2818             C/ Moralzarzal, 86           NaN         Madrid   NaN
2819                    Torikatu 38           NaN           Oulu   NaN
2820             C/ Moralzarzal, 86           NaN         Madrid   NaN
2821          1 rue Alsace-Lorraine           NaN       Toulouse   NaN
2822             8616 Spinnaker Dr.           NaN         Boston    MA

     POSTALCODE  COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0         10022      USA       NaN              Yu             Kwai    Small
1         51100   France      EMEA         Henriot             Paul    Small
2         75508   France      EMEA        Da Cunha           Daniel   Medium
3         90003      USA       NaN           Young            Julie   Medium
4           NaN      USA       NaN           Brown            Julie   Medium
...         ...      ...       ...             ...              ...      ...
2818      28034    Spain      EMEA          Freyre            Diego    Small
2819      90110  Finland      EMEA       Koskitalo           Pirkko   Medium
2820      28034    Spain      EMEA          Freyre            Diego   Medium
2821      31000   France      EMEA          Roulet          Annette    Small
2822      51003      USA       NaN         Yoshido             Juri   Medium

[2823 rows x 25 columns]

In [5]:
print(df.head(20).isnull())

    ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER  SALES  \
0         False            False      False            False  False
1         False            False      False            False  False
2         False            False      False            False  False
3         False            False      False            False  False
4         False            False      False            False  False
5         False            False      False            False  False
6         False            False      False            False  False
7         False            False      False            False  False
8         False            False      False            False  False
9         False            False      False            False  False
10        False            False      False            False  False
11        False            False      False            False  False
12        False            False      False            False  False
13        False            False      False            False  False
14        False            False      False            False  False
15        False            False      False            False  False
16        False            False      False            False  False
17        False            False      False            False  False
18        False            False      False            False  False
19        False            False      False            False  False

    ORDERDATE  STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  ADDRESSLINE1  \
0       False   False   False     False    False  ...         False
1       False   False   False     False    False  ...         False
2       False   False   False     False    False  ...         False
3       False   False   False     False    False  ...         False
4       False   False   False     False    False  ...         False
5       False   False   False     False    False  ...         False
6       False   False   False     False    False  ...         False
7       False   False   False     False    False  ...         False
8       False   False   False     False    False  ...         False
9       False   False   False     False    False  ...         False
10      False   False   False     False    False  ...         False
11      False   False   False     False    False  ...         False
12      False   False   False     False    False  ...         False
13      False   False   False     False    False  ...         False
14      False   False   False     False    False  ...         False
15      False   False   False     False    False  ...         False
16      False   False   False     False    False  ...         False
17      False   False   False     False    False  ...         False
18      False   False   False     False    False  ...         False
19      False   False   False     False    False  ...         False

    ADDRESSLINE2   CITY  STATE  POSTALCODE  COUNTRY  TERRITORY  \
0           True  False  False       False    False       True
1           True  False   True       False    False      False
2           True  False   True       False    False      False
3           True  False  False       False    False       True
4           True  False  False        True    False       True
5           True  False  False       False    False       True
6           True  False   True       False    False      False
7           True  False   True       False    False      False
8           True  False  False        True    False       True
9           True  False   True       False    False      False
10         False  False  False       False    False      False
11         False  False  False       False    False       True
12          True  False  False       False    False       True
13          True  False  False       False    False       True
14          True  False   True       False    False      False
15          True  False  False       False    False       True
16          True  False   True       False    False      False
17          True  False   True       False    False      False
18          True  False  False       False    False       True
19          True  False  False       False    False       True

    CONTACTLASTNAME  CONTACTFIRSTNAME  DEALSIZE
0             False             False     False
1             False             False     False
2             False             False     False
3             False             False     False
4             False             False     False
5             False             False     False
6             False             False     False
7             False             False     False
8             False             False     False
9             False             False     False
10            False             False     False
11            False             False     False
12            False             False     False
13            False             False     False
14            False             False     False
15            False             False     False
16            False             False     False
17            False             False     False
18            False             False     False
19            False             False     False

[20 rows x 25 columns]

In [6]:
print(df.isnull().sum())

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64