In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("sales_data_sample.csv", encoding="latin1")

In [3]:
print(df)

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0           10107               30      95.70                2  2871.00
1           10121               34      81.35                5  2765.90
2           10134               41      94.74                2  3884.34
3           10145               45      83.26                6  3746.70
4           10159               49     100.00               14  5205.27
...           ...              ...        ...              ...      ...
2818        10350               20     100.00               15  2244.40
2819        10373               29     100.00                1  3978.51
2820        10386               43     100.00                4  5417.57
2821        10397               34      62.24                1  2116.16
2822        10414               47      65.52                9  3079.44

            ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0      2/24/2003 0:00   Shipped       1         2     2003  ...
1       5/7/2003 0:00   Shipped       2         5     2003  ...
2       7/1/2003 0:00   Shipped       3         7     2003  ...
3      8/25/2003 0:00   Shipped       3         8     2003  ...
4     10/10/2003 0:00   Shipped       4        10     2003  ...
...               ...       ...     ...       ...      ...  ...
2818   12/2/2004 0:00   Shipped       4        12     2004  ...
2819   1/31/2005 0:00   Shipped       1         1     2005  ...
2820    3/1/2005 0:00  Resolved       1         3     2005  ...
2821   3/28/2005 0:00   Shipped       1         3     2005  ...
2822    5/6/2005 0:00   On Hold       2         5     2005  ...

                       ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0           897 Long Airport Avenue           NaN            NYC    NY
1                59 rue de l'Abbaye           NaN          Reims   NaN
2     27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3                78934 Hillside Dr.           NaN       Pasadena    CA
4                   7734 Strong St.           NaN  San Francisco    CA
...                             ...           ...            ...   ...
2818             C/ Moralzarzal, 86           NaN         Madrid   NaN
2819                    Torikatu 38           NaN           Oulu   NaN
2820             C/ Moralzarzal, 86           NaN         Madrid   NaN
2821          1 rue Alsace-Lorraine           NaN       Toulouse   NaN
2822             8616 Spinnaker Dr.           NaN         Boston    MA

     POSTALCODE  COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0         10022      USA       NaN              Yu             Kwai    Small
1         51100   France      EMEA         Henriot             Paul    Small
2         75508   France      EMEA        Da Cunha           Daniel   Medium
3         90003      USA       NaN           Young            Julie   Medium
4           NaN      USA       NaN           Brown            Julie   Medium
...         ...      ...       ...             ...              ...      ...
2818      28034    Spain      EMEA          Freyre            Diego    Small
2819      90110  Finland      EMEA       Koskitalo           Pirkko   Medium
2820      28034    Spain      EMEA          Freyre            Diego   Medium
2821      31000   France      EMEA          Roulet          Annette    Small
2822      51003      USA       NaN         Yoshido             Juri   Medium

[2823 rows x 25 columns]

In [5]:
print(df.dropna(axis=0, inplace=True))

None

In [6]:
print(df)

      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
10          10223               37     100.00                1  3965.66
21          10361               20      72.55               13  1451.00
40          10270               21     100.00                9  4905.39
47          10347               30     100.00                1  3944.70
51          10391               24     100.00                4  2416.56
...           ...              ...        ...              ...      ...
2667        10120               43      76.00               14  3268.00
2673        10223               26      67.20               15  1747.20
2685        10361               44     100.00               10  5001.92
2764        10361               35     100.00               11  4277.35
2791        10361               23      95.20               12  2189.60

            ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
10     2/20/2004 0:00  Shipped       1         2     2004  ...
21    12/17/2004 0:00  Shipped       4        12     2004  ...
40     7/19/2004 0:00  Shipped       3         7     2004  ...
47    11/29/2004 0:00  Shipped       4        11     2004  ...
51      3/9/2005 0:00  Shipped       1         3     2005  ...
...               ...      ...     ...       ...      ...  ...
2667   4/29/2003 0:00  Shipped       2         4     2003  ...
2673   2/20/2004 0:00  Shipped       1         2     2004  ...
2685  12/17/2004 0:00  Shipped       4        12     2004  ...
2764  12/17/2004 0:00  Shipped       4        12     2004  ...
2791  12/17/2004 0:00  Shipped       4        12     2004  ...

                                 ADDRESSLINE1  ADDRESSLINE2          CITY  \
10                          636 St Kilda Road       Level 3     Melbourne
21    Monitor Money Building, 815 Pacific Hwy       Level 6     Chatswood
40    Monitor Money Building, 815 Pacific Hwy       Level 6     Chatswood
47                          636 St Kilda Road       Level 3     Melbourne
51                          201 Miller Street      Level 15  North Sydney
...                                       ...           ...           ...
2667                        636 St Kilda Road       Level 3     Melbourne
2673                        636 St Kilda Road       Level 3     Melbourne
2685  Monitor Money Building, 815 Pacific Hwy       Level 6     Chatswood
2764  Monitor Money Building, 815 Pacific Hwy       Level 6     Chatswood
2791  Monitor Money Building, 815 Pacific Hwy       Level 6     Chatswood

         STATE POSTALCODE    COUNTRY TERRITORY CONTACTLASTNAME  \
10    Victoria       3004  Australia      APAC        Ferguson
21         NSW       2067  Australia      APAC          Huxley
40         NSW       2067  Australia      APAC          Huxley
47    Victoria       3004  Australia      APAC        Ferguson
51         NSW       2060  Australia      APAC          O'Hara
...        ...        ...        ...       ...             ...
2667  Victoria       3004  Australia      APAC        Ferguson
2673  Victoria       3004  Australia      APAC        Ferguson
2685       NSW       2067  Australia      APAC          Huxley
2764       NSW       2067  Australia      APAC          Huxley
2791       NSW       2067  Australia      APAC          Huxley

     CONTACTFIRSTNAME DEALSIZE
10              Peter   Medium
21             Adrian    Small
40             Adrian   Medium
47              Peter   Medium
51               Anna    Small
...               ...      ...
2667            Peter   Medium
2673            Peter    Small
2685           Adrian   Medium
2764           Adrian   Medium
2791           Adrian    Small

[147 rows x 25 columns]

In [ ]:
print(df.dropna(axis=1, inplace=True))